    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Lista TO-DO</h1>
      <p class="lead">Organize suas tarefas.</p>

      
    <div class="container my-4 row">
      <label>Adicionar item a lista</label>
      <div class="col-12">
        <form [formGroup]="form" class="form-filters form-row">
          <input formControlName="titulo" type="text" class="form-control" id="assunto" placeholder="Buscar por assunto" aria-describedby="Buscar por assunto" />
          <button type="button" class="btn mt-2 btn-primary" (click)="adicionar($event)">Adicionar</button>
          
        </form>
    </div>
    </div>
      <hr> 
    </main>


    <div *ngFor="let todo of todos" class=" container list-group list-group-flush">
      <div class="form-check form-check-inline">
        <input class="form-check-input" (change)="checkTodo($event, todo)" [checked]="todo.concluido" type="checkbox" id="{{todo.id}}" value="{{todo.id}}">
        <label class="form-check-label" for="{{todo.id}}">
           {{todo.titulo}}
        </label>
      </div>
    </div>
